.vscode
__pycache__
model
venv
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.debug.yml
web/node_modules
web/package-lock.json
web/dist/bundle.js
web/tf.js
web/src/web_model
web/.firebaserc
web/firebase.json
web/firebase-debug.log
web/src/google53deefff8815bbe1.html
web/src/404.html
web/src/bundle.js
data/indexToString.json
data/stringToIndex.json
