__pycache__

model
env
data/indexToString.json
data/stringToIndex.json

web/node_modules

web/dist/main.bundle.js
web/dist/tensorflow.bundle.js
web/dist/vendors~MDCRipple~MDCTextField~MDCTopAppBar.bundle.js
web/dist/vendors~MDCTemporaryDrawer.bundle.js
web/dist/vendors~MDCTextField.bundle.js
web/dist/vendors~MDCTopAppBar.bundle.js
web/dist/vendors~tensorflow.bundle.js

web/firebase-debug.log
web/.firebase