.vscode
__pycache__
model
venv
web/web_model
web/google53deefff8815bbe1.html
.firebaserc
firebase.json
firebase-debug.log
web/main.min.js
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.debug.yml
web/node_modules
web/package-lock.json
web/dist/bundle.js
web/tf.js
