.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}


body {
  margin: 0;
}

.mdc-linear-progress__bar-inner {
  background: linear-gradient(270deg, #d62976, #962fbf, #4f5bd5);
}

input[type="text"] {
  font-weight: bold;
}

.button-text {
  margin: 30px;
}

.black {
  color: black;
}

.content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  padding: 100px 10% 0 34%;
  max-width: 800px;
}

.btns {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

#menu {
  display: none;
}

.center {
  padding-left: 10%;
}

.custom_drawer nav.mdc-drawer__drawer {
  width: 25%;
}

@media only screen and (max-width: 1000px) {
  .btns button {
    min-width: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 100px 10% 0 10%;
  }
  .button-text {
    margin: 20px;
  }
  #menu {
    display: block;
  }
  .custom_drawer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 80px 30px 0 30px;
  }
  .button-text {
    margin: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .button-text {
    margin: 3px;
  }
  .content {
    padding: 80px 20px 0 20px;
  }
  .btns {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .btns #word9 {
    display: none;
  }
}

.custom_drawer {
  color: rgba(0, 0, 0, .87);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.custom_drawer .mdc-drawer__toolbar-spacer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  height: 56px;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, .12)
}

@media (min-width:600px) {
  .custom_drawer .mdc-drawer__toolbar-spacer {
    height: 64px
  }
}

.custom_drawer .mdc-drawer__header {
  position: relative
}

.custom_drawer .mdc-drawer__header:before {
  display: block;
  padding-top: 56.25%;
  content: ""
}

.custom_drawer .mdc-drawer__header-content {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 16px
}

.custom_drawer .mdc-list-item {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .00714em;
  text-decoration: inherit;
  text-transform: inherit;
  position: relative;
  outline: none;
  color: inherit;
  text-decoration: none
}

.custom_drawer .mdc-list-item__graphic {
  color: rgba(0, 0, 0, .54)
}

.custom_drawer.mdc-drawer--permanent,
.custom_drawer .mdc-drawer__drawer {
  background-color: #fff
}

.custom_drawer:before {
  background-color: rgba(0, 0, 0, .6);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0;
  content: "";
}

.custom_drawer .mdc-drawer__drawer {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
  left: 0;
  right: auto;
  height: 100%;
  -webkit-transform: translateX(-107%);
  transform: translateX(-107%);
  -webkit-transform: translateX(calc(-100% - 20px));
  transform: translateX(calc(-100% - 20px));
  will-change: transform;
  display: flex;
  position: absolute;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
}

.custom_drawer .mdc-drawer__drawer[dir=rtl],
[dir=rtl] .custom_drawer .mdc-drawer__drawer {
  left: auto;
  right: 0;
  -webkit-transform: translateX(107%);
  transform: translateX(107%);
  -webkit-transform: translateX(calc(100% + 20px));
  transform: translateX(calc(100% + 20px))
}

@media (min-width:600px) {
  .custom_drawer .mdc-drawer__drawer {
    width: 100%;
    max-width: 320px
  }
}

.custom_drawer .mdc-drawer__content {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
}

.custom_drawer .mdc-drawer__footer {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  flex-shrink: 0
}

.custom_drawer.mdc-drawer--open .mdc-drawer__drawer,
.custom_drawer.mdc-drawer--open[dir=rtl] .mdc-drawer__drawer,
[dir=rtl] .custom_drawer.mdc-drawer--open .mdc-drawer__drawer {
  -webkit-transform: none;
  transform: none
}
